---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import ToolBubbleTile from "../ToolBubbleTile.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const toolIcons = [
  "go",
  "js",
  "typescript",
  "php",
  "python",
  "dart",
  "laravel",
  "nestjs",
  "nextjs",
  "astro",
  "flutter",
  "css",
  "tailwind",
  "fastapi",
  "django",
  "mongo",
  "node",
  "vue",
  "react",
  "angular",
  "redis",
  "postgresql",
  "mysql",
  "kafka",
  "docker",
  "linux",
  "figma",
  "k8s",
  "aws",
  "firebase",
  "supabase",
  "vercel",
] as const;
---

<div class="bg-brand-green text-brand-light px-5 md:mx-auto">
  <h2 class="font-hornbill text-4xl text-center mb-5">
    • <br />
    {t("aboutMe.title")}
  </h2>

  <p class="mb-4">{t("aboutMe.firstParagraph")}</p>
  <p class="mb-4">{t("aboutMe.someTools")}</p>

  <div class="flex flex-wrap justify-center gap-5 py-4 sm:gap-6">
    {toolIcons.map((icon) => (
      <ToolBubbleTile icon={icon} />
    ))}
  </div>
</div>
